* {
    box-sizing: border-box;
}

p {
    
}
.header {
  padding: 20px;
  text-align: center;
  background: #33adff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body {
    background-color: #ffbf95;
    line-height: 1.6;
}

img {
    float: left;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 480px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}